@font-face {
    font-family: 'Ribeye';
    src: url('Ribeye-Regular.eot');
    src: local('Ribeye'), local('Ribeye-Regular'),
        url('Ribeye-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ribeye-Regular.woff2') format('woff2'),
        url('Ribeye-Regular.woff') format('woff'),
        url('Ribeye-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

